// font
$main-font: 'Oswald', sans-serif;
$second-font: 'Montserrat', sans-serif;

// color
$black: #000000;
$white: #ffffff;
$red: #8b1a12;
$dark-pink: #ec7973;
$pink: #eab5b7;
$light-pink: #fdedee;
$dark: #161920;
$dark-gray: #424242;
$gray: #9d9f9e;
$light-gray: #eff0f0;

$color-text: #434242;
$color-text-diet-card: #9f9e9d;
$color-border: #e5e5e5;
$color-text-copy: #ffffff40;
$color-text-btn: #ec7973;
$color-backdrop: #00000080;

// bg
$bg: #961914;
$bg-copy: #69120e;
$bg-hover: #75110d;
$bg-btn-send: #fff4f3;
$bg-btn-send-hover: #ead1d0;
$bg-btn-social: #ffffff20;
$bg-btn-social-hover: #ffffff30;
$bg-form-footer: #ffffff20;
$bg-form-diet: #f4f5f5;

// breakpoint
$small-sm: '576px';
$medium-md: '768px';
$large-lg: '992px';
$extra-large-xl: '1200px';
