<section class="barf">
  <div class="container">
    <div class="barf-content">
      <div class="barf-content__wrapper">
        <h2 class="barf-content__title">Что такое BARF</h2>
        <p class="barf-content__text">
          BARF (Biologically Appropriate Raw Food) — система питания собак, основанная на сырых
          натуральных продуктах. Такой рацион максимально приближен к естественному пищевому
          поведению хищников, а значит биологически правилен.
        </p>
        <p class="barf-content__subtitle">После перехода на питание по системе BARF у собак:</p>
        <p class="barf-content__subtext">Нормализуется пищеварение</p>
        <p class="barf-content__subtext">Проходят аллергические реакции</p>
        <p class="barf-content__subtext">Прекращается образование зубного камня</p>
        <p class="barf-content__subtext">Появляется больше энергии</p>
        <p class="barf-content__subtext">Увеличивается продолжительность жизни</p>
      </div>
      <picture>
        <source srcset="./images/barf.webp 1x, ./images/barf@2x.webp 2x" type="image/webp" />
        <source srcset="./images/barf.jpg 1x, ./images/barf@2x.jpg 2x" type="image/jpeg" />
        <img class="barf-content__images" src="./images/barf.jpg" alt="Dog is eating" />
      </picture>
    </div>
    <div class="slider-container" data-mobile="false">
      <div class="swiper-wrapper">
        <div class="barf-card">
          <p class="barf-card__title">Для взрослых</p>
          <ul class="barf-card__list">
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#meat"></use>
              </svg>
              Мясо – 70%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#bone"></use>
              </svg>
              Кости – 10%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#vegetables"></use>
              </svg>
              Овощи – 7%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#liver"></use>
              </svg>
              Печень – 5%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#offal"></use>
              </svg>
              Субпродукты – 5%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#nuts"></use>
              </svg>
              Семена/Орехи – 2%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#fruits"></use>
              </svg>
              Фрукты – 1%
            </li>
          </ul>
        </div>
        <div class="barf-card barf-card--margin">
          <p class="barf-card__title">Для щенков</p>
          <ul class="barf-card__list">
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#meat"></use>
              </svg>
              Мясо – 58%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#bone"></use>
              </svg>
              Кости – 17%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#vegetables"></use>
              </svg>
              Овощи – 7%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#liver"></use>
              </svg>
              Печень – 7%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#offal"></use>
              </svg>
              Субпродукты – 7%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#nuts"></use>
              </svg>
              Семена/Орехи – 3%
            </li>
            <li class="barf-card__item">
              <svg class="barf-card__svg">
                <use href="./images/svg/icons.svg#fruits"></use>
              </svg>
              Фрукты – 1%
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
