<section id="care" class="care">
  <div class="container care__container">
    <div class="care-content">
      <h2 class="care-content__title">С заботой и любовь от Zooov</h2>
      <ul class="care-content__list">
        <li class="care-content__item">
          <p class="care-content__text">
            Мы сами владельцы собак и знаем, как важно правильное и качественное питание для долгой
            и счастливой жизни вашего питомца. Для нас ZOOOV это не просто бизнес, это наш вклад в
            повышение качества жизни всех собак.
          </p>
        </li>
        <li class="care-content__item">
          <p class="care-content__text">
            Мы знаем, как правильно подобрать и переработать мясо, субпродукты, овощи и фрукты,
            чтобы питание вашего питомца было максимально сбалансированным и полезным.
          </p>
        </li>
        <li class="care-content__item">
          <p class="care-content__text">
            Обычного сырого мяса из магазина будет недостаточно для полноценного питания собаки.
            ZOOOV — экономия времени, вам не придется искать необходимые составляющие для рациона.
          </p>
        </li>
        <li class="care-content__item">
          <p class="care-content__text">
            Мы сами отбираем мясо, кости, легкие, печень и другие говяжьи, кроличьи и птичьи
            субпродукты у проверенных поставщиков. Закупаем органические овощи и используем
            разнообразные масла, такие как конопляное и льняное.
          </p>
        </li>
        <li class="care-content__item">
          <p class="care-content__text">
            ZOOOV — это удобно, мы доставляем готовый рацион на две недели уже смешанным,
            расфасованным и упакованным в порционные лотки,готовыми к заморозке. За два часа до
            кормления достаточно переместить контейнер из морозилки в холодильник для ПРАВИЛЬНОЙ
            разморозки.
          </p>
        </li>
      </ul>
    </div>
    <div class="care-content__img-block">
      <picture>
        <source srcset="./images/care-1.webp 1x, ./images/care-1@2x.webp 2x" type="image/webp" />
        <source srcset="./images/care-1.jpg 1x, ./images/care-1@2x.jpg 2x" type="image/jpeg" />
        <img class="care-content__images" src="./images/care-1.jpg" alt="Dog" />
      </picture>
      <picture>
        <source srcset="./images/care-2.webp 1x, ./images/care-2@2x.webp 2x" type="image/webp" />
        <source srcset="./images/care-2.jpg 1x, ./images/care-2@2x.jpg 2x" type="image/jpeg" />
        <img class="care-content__images-position" src="./images/care-2.jpg" alt="Dog" />
      </picture>

      <img
        class="core-content__a-heart"
        srcset="./images/a-heart.png 1x, ./images/a-heart@2x.png 2x"
        src="./images/a-heart.png"
        alt="Heart png"
      />

      <img
        class="core-content__dog"
        srcset="./images/dog.png 1x, ./images/dog@2x.png 2x"
        src="./images/dog.png"
        alt="Dog png"
      />
    </div>
  </div>
</section>
