<section id="diet" class="diet">
  <div class="container">
    <div class="diet-content">
      <div class="diet-content__title-wrap">
        <h2 class="diet-content__title">Рационы ZOOOV</h2>
        <p class="diet-content__text">
          Система питания взрослой собаки не подойдет для щенка, поэтому мы создали разные по
          составу рационы ZOOOV. Вы сможете заказать полноценное питание исходя из возраста, веса и
          даже вкусовых предпочтений вашего друга. ZOOOV заботится о каждой собаке.
        </p>
      </div>
      <div id="diet-slider" class="diet-slider-container" data-mobile="false">
        <div class="swiper-wrapper">
          <div class="diet-card" data-card>
            <div class="diet-card__wrap">
              <picture>
                <source
                  srcset="./images/diet-1.webp 1x, ./images/diet-1@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  srcset="./images/diet-1.jpg 1x, ./images/diet-1@2x.jpg 2x"
                  type="image/jpeg"
                />
                <img class="diet-card__image" src="./images/diet-1.jpg" alt="Diet images" />
              </picture>
              <p class="diet-card__title">Для взрослых собак</p>
              <p class="diet-card__text">Индейка/Говядина</p>
              <p class="diet-card__description">
                Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
              </p>
              <p class="diet-card__packaging">700г / 500г / 300г / 150г / 100г</p>
              <button class="hero__link-btn hero__link-btn--diet-card" type="button" data-diet-btn>
                Заказать
              </button>
            </div>
          </div>
          <div class="diet-card" data-card>
            <div class="diet-card__wrap">
              <picture>
                <source
                  srcset="./images/diet-2.webp 1x, ./images/diet-2@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  srcset="./images/diet-2.jpg 1x, ./images/diet-2@2x.jpg 2x"
                  type="image/jpeg"
                />
                <img class="diet-card__image" src="./images/diet-2.jpg" alt="Diet images" />
              </picture>
              <p class="diet-card__title">Для щенков</p>
              <p class="diet-card__text">Индейка/Говядина</p>
              <p class="diet-card__description">
                Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
              </p>
              <p class="diet-card__packaging">700г / 500г / 300г / 150г / 100г</p>
              <button class="hero__link-btn hero__link-btn--diet-card" type="button" data-diet-btn>
                Заказать
              </button>
            </div>
          </div>
          <div class="diet-card" data-card>
            <div class="diet-card__wrap">
              <picture>
                <source
                  srcset="./images/diet-3.webp 1x, ./images/diet-3@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  srcset="./images/diet-3.jpg 1x, ./images/diet-3@2x.jpg 2x"
                  type="image/jpeg"
                />
                <img class="diet-card__image" src="./images/diet-3.jpg" alt="Diet images" />
              </picture>
              <p class="diet-card__title">Для взрослых собак</p>
              <p class="diet-card__text">Баранина/Кролик</p>
              <p class="diet-card__description">
                Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
              </p>
              <p class="diet-card__packaging">700г / 500г / 300г / 150г / 100г</p>
              <button class="hero__link-btn hero__link-btn--diet-card" type="button" data-diet-btn>
                Заказать
              </button>
            </div>
          </div>
          <div class="diet-card" data-card>
            <div class="diet-card__wrap">
              <picture>
                <source
                  srcset="./images/diet-4.webp 1x, ./images/diet-4@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  srcset="./images/diet-4.jpg 1x, ./images/diet-4@2x.jpg 2x"
                  type="image/jpeg"
                />
                <img class="diet-card__image" src="./images/diet-4.jpg" alt="Diet images" />
              </picture>
              <p class="diet-card__title">Для щенков</p>
              <p class="diet-card__text">Баранина/Кролик</p>
              <p class="diet-card__description">
                Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
              </p>
              <p class="diet-card__packaging">700г / 500г / 300г / 150г / 100г</p>
              <button class="hero__link-btn hero__link-btn--diet-card" type="button" data-diet-btn>
                Заказать
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-pagination diet-pagination"></div>
      </div>
      <div class="diet-content__calculate-wrap">
        <p class="diet-content__calculate-text">
          Рассчитаем в каком количестве нужно кормить вашего хвостика рационами Zooov
        </p>
        <button class="hero__link-btn hero__link-btn--diet" type="button" data-calculate>
          Расчитать
        </button>
      </div>
    </div>
  </div>
</section>
