<section id="faq" class="faq">
  <div class="container faq__container">
    <h2 class="faq__title">Частые вопросы</h2>
    <ul class="faq__list js-faq__list">
      <li class="faq__item">
        <button class="faq__btn js-faq__btn faq__btn-active">
          <span class="faq__subtitle">Не опасны ли бактерии, которые находятся в сыром мясе?</span>
        </button>
        <p class="faq__description">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">Надо ли давать дополнительно витамины к рациону BARF?</span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">
            А если моя собака уже давно питается промышленным кормом и у нее нет проблем со
            здоровьем?
          </span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">
            Можно ли смешивать натуральный корм и корм промышленного производства?
          </span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">
            Могу ля и я сам составить для своей собаки рацион по системе BARF?
          </span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">Присутствует ли в ZOOOV рационах рыба?</span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">Как перевести питомца на натуральное питание?</span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">Как готовить рацион ZOOOV?</span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
      <li class="faq__item">
        <button class="faq__btn js-faq__btn">
          <span class="faq__subtitle">
            При переходе на рацион ZOOOV у собаки начались проблемы с ЖКТ. Это нормально?
          </span>
        </button>
        <p class="faq__description faq__description-hidden">
          У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF
          как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся
          на улице или даже в вашем доме.
        </p>
      </li>
    </ul>
  </div>
</section>
