<footer id="footer" class="footer">
  <div class="footer__svg-top-wrap">
    <svg class="footer__svg-top">
      <use href="./images/svg/icons.svg#vector-mobile-footer-up"></use>
    </svg>
  </div>

  <div class="container">
    <div class="footer__wrap">
      <div class="contacts">
        <h2 class="contacts__title">Контакты</h2>
        <p class="contacts__text">
          Вы всегда можете с нами связаться по телефону или в мессенджерах
        </p>

        <a class="contacts__link contacts__link-tel" href="tel:+380500000000"
          >+38 (050) 000 00 00</a
        >

        <a class="contacts__link contacts__link-whatsapp" href="#">Написать в WhatsApp</a>

        <a class="contacts__link contacts__link-telegram" href="#">Написать в Telegram</a>

        <p class="contacts__subtext">
          Подписывайтесь на наш <a class="contacts__instagram" href="#">Instagram</a> и следите за
          новостями
        </p>
      </div>
      <form class="form footer-form">
        <p class="footer-form__title">Остались вопросы?</p>
        <span class="footer-form__text">
          Напишите нам и мы обязательно подробно на них ответим.
        </span>
        <div class="footer-form__input-wrap">
          <label class="footer-form__label footer-form__label-name">
            <input
              class="footer-form__input footer-form__input-name"
              type="text"
              name="name"
              placeholder="Имя"
            />
          </label>
          <label class="footer-form__label footer-form__label-mail">
            <input
              class="footer-form__input footer-form__input-mail"
              type="email"
              name="email"
              placeholder="Email"
            />
          </label>
        </div>
        <textarea
          class="footer-form__textarea footer-form__input"
          name="message"
          cols="30"
          rows="5"
          placeholder="Ваш вопрос..."
        ></textarea>
        <div class="footer-form__btn-wrap">
          <label class="footer-form__checkbox-label">
            <input class="footer-form__checkbox visually-hidden" type="checkbox" name="checkbox" />
            <span class="footer-form__checkbox-icon"></span>
            <span class="footer-form__checkbox-text"
              >Даю согласие на обработку персональных данных</span
            >
          </label>
          <button class="hero__link-btn hero__link-btn--footer" type="submit">Отправить</button>
        </div>
        <div class="footer-form__thanks-backdrop is-hidden">
          <div class="footer-form__thanks-wrap">
            <button class="footer-form__button-backdrop" type="button">
              <svg class="footer-form__svg">
                <use href="./images/svg/icons.svg#close"></use>
              </svg>
            </button>
            <h2 class="footer-form__thanks-title">Спасибо!</h2>
            <p class="footer-form__thanks-text">Мы ответим вам в ближайшее время.</p>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="footer-copy__wrap">
    <div class="container footer-copy__container">
      <address class="footer-copy__address">
        ИП Коваленко Евгений Геннадьевич ИНН784215731801, адрес производства г. Санкт-Петербург 17-я
        линия В.О 66, пом. 2/07
      </address>
      <a class="footer-copy__link" href="#">Публичная оферта</a>
      <a class="footer-copy__link" href="#">Политика конфеденциальности</a>
    </div>
  </div>
  <div class="footer__svg-buttom-wrap">
    <svg class="footer__svg-buttom">
      <use href="./images/svg/icons.svg#vector-mobile-footer-bottom"></use>
    </svg>
  </div>
</footer>
