<section class="hero-header">
  <div class="container">
    <header class="header">
      <div class="header__wrapper">
        <div class="header__logo">
          <picture class="mobile__logo-img">
            <source srcset="./images/logo@2x.webp 1x, ./images/logo@2x.webp 2x" type="image/webp" />
            <source srcset="./images/logo@2x.jpg 1x, ./images/logo@2x.jpg 2x" type="image/jpeg" />
            <img src="./images/logo.jpg" alt="Кот" />
          </picture>
        </div>
        <svg class="header__burger" data-open>
          <use href="./images/svg/icons.svg#burger-menu"></use>
        </svg>
      </div>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="#">BARF</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Рационы</a></li>
          <li class="menu__item"><a class="menu__link" href="#">ZOOOV</a></li>
          <li class="menu__item"><a class="menu__link" href="#">О нас</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Доставка</a></li>
          <li class="menu__item"><a class="menu__link" href="#">FAQ</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
        </ul>
      </nav>

      <div class="mobile">
        <div class="mobile-menu__wrapper">
          <div class="mobile__logo">
            <picture class="mobile__logo-img">
              <source
                srcset="./images/logo@2x.webp 1x, ./images/logo@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="./images/logo@2x.jpg 1x, ./images/logo@2x.jpg 2x" type="image/jpeg" />
              <img src="./images/logo.jpg" alt="Кот" />
            </picture>
          </div>
          <svg class="mobile__menu-close hidden-btn" data-close>
            <use href="./images/svg/icons.svg#close" data-close></use>
          </svg>
        </div>

        <nav class="mobile-menu">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">BARF</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Рационы</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">ZOOOV</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О нас</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Доставка</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">FAQ</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li>
          </ul>
          <a class="hero__link-btn hero__link-btn--mobile-menu" href="#">Выбрать рацион</a>
        </nav>
      </div>
    </header>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero__wrap">
        <h1 class="hero__title">
          <span class="hero__title-span">Питание,</span>которое полюбит ваш питомец
        </h1>
        <p class="hero__text">Натуральные рационы питания для собак по системе BARF</p>
        <a class="hero__link-btn hero__link-btn--hero" href="#">Выбрать рацион</a>
      </div>
    </div>
  </section>
</section>
