<section class="to-get">
  <div class="container">
    <h2 class="to-get__title">Как получить ZOOOV?</h2>
    <ul class="to-get__list">
      <li class="to-get__item">
        <svg class="to-grt__svg">
          <use href="./images/svg/icons.svg#package"></use>
        </svg>
        <p class="to-get__subtitle">Закажите рацион</p>
        <p class="to-get__text">
          Выберите рацион для своей собаки. Если не знаете сколько и какой –
          <a class="to-get__link" href="#">мы подскажем</a>.
        </p>
      </li>
      <li class="to-get__item">
        <svg class="to-grt__svg">
          <use href="./images/svg/icons.svg#clock"></use>
        </svg>
        <p class="to-get__subtitle">Подтвердите заказ</p>
        <p class="to-get__text">Мы свяжемся с вами для подтверждения заказа и уточнения деталей.</p>
      </li>
      <li class="to-get__item">
        <svg class="to-grt__svg">
          <use href="./images/svg/icons.svg#phone-call"></use>
        </svg>
        <p class="to-get__subtitle">Ожидайте доставки</p>
        <p class="to-get__text">
          Привозим заказ на следующий день. По СПб – 350₽, при заказе от 3 500₽ – бесплатно. Лен.
          область – по договоренности.
        </p>
      </li>
      <li class="to-get__item">
        <svg class="to-grt__svg">
          <use href="./images/svg/icons.svg#heart"></use>
        </svg>
        <p class="to-get__subtitle">Радуйте своего питомца</p>
        <p class="to-get__text">
          Просто разморозьте рацион: при комнатной температуре – 3 часа, в холодильнике – 12-15
          часов.
        </p>
      </li>
    </ul>
  </div>
</section>
