<section id="why" class="why">
  <div class="container">
    <div class="why__wrap">
      <h2 class="why__title">Почему ZOOOV</h2>
      <ul class="why__list">
        <li class="why__item">
          <svg class="why__svg">
            <use href="./images/svg/icons.svg#leaf"></use>
          </svg>
          <p class="why__subtitle">Натурально</p>
          <p class="why__description">Все продукты тщательно отбираем у проверенных поставщиков.</p>
        </li>
        <li class="why__item">
          <svg class="why__svg">
            <use href="./images/svg/icons.svg#heartbeat"></use>
          </svg>
          <p class="why__subtitle">Здорово</p>
          <p class="why__description">Система питания, которая продлевает жизнь вашего хвостика.</p>
        </li>
        <li class="why__item">
          <svg class="why__svg">
            <use href="./images/svg/icons.svg#paw-print"></use>
          </svg>
          <p class="why__subtitle">Сбалансированно</p>
          <p class="why__description">
            Сделайте заказ на сайте и с вами свяжется наш менеджер для уточнения деталей.
          </p>
        </li>
        <li class="why__item">
          <svg class="why__svg why__svg-after">
            <use href="./images/svg/icons.svg#smiley"></use>
          </svg>
          <p class="why__subtitle">Удобно</p>
          <p class="why__description">
            Достаточно разморозить порцию ZOOOV, удалить отрывную крышку с лотка и обед для вашего
            питомца готов.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
