.hero__link-btn {
  font-family: $second-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;

  display: block;
  width: 226px;
  padding: 13px 40px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;

  color: $white;
  background-color: $bg;
}

.hero__link-btn--mobile-menu {
  margin-bottom: 62px;

  &:hover {
    background-color: $bg-hover;
  }
}

.hero__link-btn--hero {
  margin: 0;
  margin-top: 48px;

  &:hover {
    background-color: $bg-hover;
  }
}

.hero__link-btn--diet-card {
  width: 160px;
  padding: 13px 42px;
  background-color: transparent;
  color: $bg;
  border: 1px solid $bg;
  margin: 0;

  &:hover {
    background-color: $bg-btn-send-hover;
    border: 1px solid transparent;
  }
}

.hero__link-btn--diet {
  position: relative;
  width: 171px;
  padding: 13px 42px;

  z-index: 1;

  &:hover {
    background-color: $bg-hover;
  }
}

.hero__link-btn--diet-calculate {
  width: 279px;
  @media (min-width: $medium-md) {
    width: 436px;
  }
}

.hero__link-btn--diet-backdrop {
  width: 100%;
}

.diet-backdrop__btn {
}

.diet-backdrop__btn-submit {
  width: 100%;
  @media (min-width: $extra-large-xl) {
    width: 249px;
    padding: 13px 53px;
    margin-left: auto;
  }
}

.hero__link-btn--footer {
  width: 100%;
  color: $color-text-btn;
  border-radius: 2px;
  background-color: $bg-btn-send;

  &:hover {
    background-color: $bg-btn-send-hover;
  }

  @media (min-width: $extra-large-xl) {
    width: 214px;
    border-radius: 8px;
    margin: 0;
  }
}
