.mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  transform: translateY(-101%);
  transition: transform 250ms ease-in-out;
  overflow: hidden;
  text-align: center;

  z-index: 5;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::before {
    top: 180px;
    left: -48px;
    width: 186px;
    height: 222px;
    background-image: url("data:image/svg+xml,%3Csvg width='112' height='263' viewBox='0 0 112 263' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_191_1282)'%3E%3Cpath d='M15.9238 252.346C31.8085 245.163 45.6018 233.79 56.1973 220.003C67.0004 205.956 74.6478 189.189 77.4942 171.649C78.9694 162.538 79.076 152.941 76.0323 144.138C72.9665 135.27 66.8847 127.723 60.0848 121.385C53.1625 114.915 45.0796 109.317 36.1879 105.929C28.086 102.831 18.8332 101.673 10.57 104.843C-2.22262 109.758 -11.0699 127.544 -1.15682 139.115C1.59344 142.318 5.29822 144.533 9.17557 146.105C13.3742 147.802 17.9576 148.872 22.4982 148.925C31.2235 149.034 38.7766 144.688 44.2838 138.116C55.8066 124.4 58.867 104.59 56.2621 87.3047C53.5539 69.3017 44.313 52.9407 31.3832 40.2655C19.022 28.1175 3.50113 19.2252 -13.2829 14.8266C-29.4967 10.5807 -46.9831 10.5696 -62.8952 16.0885C-66.7431 17.4242 -70.5043 19.0987 -74.0806 21.0397C-74.6122 21.3312 -74.1458 22.1662 -73.6093 21.8563C-59.1592 13.9931 -42.4374 11.4128 -26.1704 13.3259C-9.76972 15.2551 5.96899 21.6418 19.3099 31.3109C33.363 41.4864 45.0153 55.397 51.1891 71.7251C57.5097 88.3884 58.0498 107.566 51.3239 124.205C48.2188 131.893 43.3755 139.372 36.3263 143.972C28.5624 149.031 19.235 148.741 10.7624 145.701C3.15319 142.972 -3.97266 137.335 -4.49664 128.694C-4.9233 121.677 -1.32717 114.732 3.80939 110.132C17.4418 97.888 37.7057 105.783 50.6167 114.923C58.3231 120.38 65.5026 127.215 70.5926 135.225C75.5699 143.067 77.6786 151.975 77.4902 161.214C77.322 170.084 75.3662 178.928 72.5498 187.305C69.8257 195.411 66.1463 203.182 61.6211 210.431C52.7033 224.727 40.5381 237.088 26.1236 245.848C22.66 247.958 19.08 249.839 15.3789 251.509C14.894 251.774 15.3653 252.591 15.9238 252.346Z' fill='%23EAD1D0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_191_1282'%3E%3Crect x='53.6622' y='262.576' width='186' height='222' rx='2' transform='rotate(-165 53.6622 262.576)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &::after {
    top: 355px;
    right: -106px;
    width: 384px;
    height: 413px;
    background-image: url("data:image/svg+xml,%3Csvg width='188' height='442' viewBox='0 0 188 442' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_191_1266)'%3E%3Cpath d='M111.559 300.247C105.877 302.331 100.476 305.028 95.3683 308.227C94.6193 308.719 95.508 309.779 96.2569 309.288C101.248 306.134 106.585 303.515 112.15 301.477C112.993 301.19 112.404 299.933 111.559 300.247Z' fill='%23EAD1D0'/%3E%3Cpath d='M123.471 311.021C121.714 317.297 119.406 323.44 116.614 329.342C116.258 330.149 117.566 330.633 117.949 329.828C120.742 323.926 123.022 317.781 124.806 311.507C125.027 310.631 123.72 310.148 123.471 311.021Z' fill='%23EAD1D0'/%3E%3Cpath d='M108.852 283.962C102.735 282.172 96.6472 280.383 90.531 278.592C89.6804 278.347 89.1676 279.643 90.0461 279.892C96.1623 281.682 102.251 283.471 108.367 285.261C109.215 285.535 109.728 284.238 108.852 283.962Z' fill='%23EAD1D0'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1_191_1266)'%3E%3Cpath d='M286.73 -12.4605C259.016 -11.4256 231.87 -2.96435 207.988 10.9748C183.644 25.172 162.319 45.2699 147.604 69.3916C139.966 81.9236 134.053 95.9922 133.258 110.786C132.456 125.689 136.892 140.457 143.11 153.877C149.43 167.565 157.983 180.665 169.052 190.997C179.133 200.427 192.073 207.692 206.15 207.987C227.948 208.435 251.653 187.556 243.986 164.559C241.854 158.191 237.724 152.702 232.953 148.058C227.784 143.036 221.672 138.706 215.013 135.9C202.222 130.497 188.485 132.36 176.428 138.729C151.222 152.007 134.831 179.343 128.302 206.364C121.495 234.505 125.299 264.152 136.749 290.588C147.677 315.905 165.214 338.326 187.308 354.888C208.653 370.883 234.413 381.405 261.17 382.838C267.641 383.182 274.188 382.976 280.622 382.266C281.58 382.156 281.393 380.647 280.417 380.781C254.408 383.679 228.22 377.432 205.398 364.841C182.388 352.147 163.027 333.285 149.168 311.029C134.564 287.6 125.737 260.113 126.433 232.357C127.114 204.019 137.82 175.451 157.711 154.988C166.897 145.531 178.52 137.426 191.666 134.887C206.141 132.1 219.711 138.132 230.373 147.699C239.948 156.29 247.067 168.873 242.657 181.913C239.077 192.504 229.612 200.572 219.284 204.26C191.853 214.102 166.729 190.299 153.186 169.082C145.103 156.415 138.623 142.036 135.928 127.18C133.297 112.64 135.533 98.2546 141.352 84.7612C146.919 71.7997 155.106 59.9494 164.28 49.3044C173.156 39.0032 183.239 29.7692 194.255 21.8128C215.97 6.11645 241.309 -4.77871 267.804 -9.01988C274.173 -10.0452 280.576 -10.6644 287.032 -10.9014C287.905 -10.9996 287.7 -12.4854 286.73 -12.4605Z' fill='%23EAD1D0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_191_1266'%3E%3Crect x='123.045' y='330.77' width='38' height='49' rx='2' transform='rotate(-174.775 123.045 330.77)' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_191_1266'%3E%3Crect x='199.193' width='296' height='290' rx='2' transform='rotate(37.1708 199.193 0)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.mobile-open {
  transform: translateY(0);
}

.mobile-menu__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 22px 0 24px;
}

.mobile__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.mobile__menu-close {
  width: 32px;
  height: 32px;
  margin-left: auto;
}

.hidden-btn {
  display: none;
}

.mobile-menu__list {
  position: relative;
  margin-top: 52px;
  z-index: 5;
}

.mobile-menu__item {
  margin-bottom: 40px;
}

.mobile-menu__item:last-child {
  margin-bottom: 102px;
}

.mobile-menu__link {
  font-family: $second-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: $black;
}
